<!doctype html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./css/admin_orders.css">
    <title>The Best Mobile Bazaar - Admin Panel</title>
</head>
<body>
<%- include("partials/header.ejs") %>
<main class="admin admin_orders">
    <div class="header">
        <%- include("partials/admin_header.ejs") %>
    </div>
    <div class="content">
        <div class="table">
            <div class="title">
                <div class="buttons">Actions</div>
                <div class="product_id">Product ID</div>
                
                <div class="date">Date</div>
                <div class="count">Count</div>
                <div class="price">Price</div>
            </div>
            <div class="rows">
                <% for (const item of allItems) { %>
                    <div class="row">
                        <div class="buttons">
                            <a href="/admin_orders?edit_id=<%= item.id %>" class="edit_button">Edit</a>
                        </div>
                        <div class="product_id"><%= item.product_id %></div>
                        <div class="date"><%= item.datetime %></div>
                        <div class="count"><%= item.count %></div>
                        <div class="price"><%= item.total_price %></div>

                    </div>
                <% }%>
            </div>
        </div>
        <div class="edit">
            <a href="/admin_orders" class="create">Create</a>
            <form action="/admin_orders" method="post">
                <div class="item hidden">
                    <div class="edit_title"></div>
                    <div class="edit_input">
                        <input type="number" value="<%= editItem.id %>" name="id">
                    </div>
                </div>

                <div class="item">
                    <div class="edit_title">status</div>
                    <div class="edit_input">
                        <select name="status" required>
                            <option
                                    <%= editItem.status=="pending" ? "selected" : "" %>
                                    value="pending">Pending</option>
                            <option
                                    <%= editItem.status=="complete" ? "selected" : "" %>
                                    value="complete">Complete</option>
                            <option
                                    <%= editItem.status=="cancelled" ? "selected" : "" %>
                                    value="cancelled">Cancelled</option>
                        </select>
                    </div>
                </div>
               
                <div class="item">
                    <div class="edit_title">сount</div>
                    <div class="edit_input">
                        <input type="number" value="<%= editItem.count %>" name="count" required min="1" >
                    </div>
                </div>
                <div class="item">
                    <div class="edit_title">total price</div>
                    <div class="edit_input">
                        <input type="number" value="<%= editItem.total_price %>" name="total_price" required min="1">
                    </div>
                </div>
                <div class="item">
                    <div class="edit_title">product_id</div>
                    <div class="edit_input">
                        <select name="product_id" required>
                            <% for (const prod of allProducts) { %>
                                <option <%= editItem.product_id==prod.id? "selected" : "" %>
                                        value="<%= prod.id %>"><%= prod.id %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="buttons">
                    <% if (editItem.id == "0") { %>
                        <button name="action" class="submit" type="submit" value="create">Create</button>
                    <% } else { %>
                        <button name="action" class="submit" type="submit" value="update">Update</button>
                        <button name="action" class="remove" type="submit" value="delete">Delete</button>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs") %>
<%- include("partials/scripts.ejs") %>
</body>
</html>
