<!doctype html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./css/admin_contacts.css">
    <title>The Best Mobile Bazaar - Admin Panel</title>
</head>
<body>
<%- include("partials/header.ejs") %>
<main class="admin admin_contacts">
    <div class="header">
        <%- include("partials/admin_header.ejs") %>
    </div>
    <div class="content">
        <div class="table">
            <div class="title">
                <div class="buttons">Actions</div>
                <div class="contacts_id">ID</div>
                <div class="name">Date</div>
                <div class="surname">Surname</div>
                <div class="phone">Phone</div>
                <div class="description">Description</div>
            </div>
            <div class="rows">
                <% for (const item of allItems) { %>
                    <div class="row">
                        <div class="buttons">
                            <a href="/admin_contacts?edit_id=<%= item.id %>" class="edit_button">Edit</a>
                        </div>
                        <div class="contacts_id"><%= item.id %></div>
                        <div class="name"><%= item.name %></div>
                        <div class="surname"><%= item.surname %></div>
                        <div class="phone"><%= item.phone %></div>
                        <div class="description"><%= item.description %></div>
                    </div>
                <% }%>
            </div>
        </div>
        <div class="edit">
            <a href="/admin_contacts" class="create">Create</a>
            <form action="/admin_contacts" method="post">
                <div class="item hidden">
                    <div class="edit_title"></div>
                    <div class="edit_input">
                        <input type="number" value="<%= editItem.id %>" name="id">
                    </div>
                </div>

                <div class="item">
                    <div class="edit_title">Name</div>
                    <div class="edit_input">
                        <input type="text" value="<%= editItem.name %>" name="name" required>
                        <span class="error-text">Please enter a name</span>
                    </div>
                </div>

                <div class="item">
                    <div class="edit_title">Surname</div>
                    <div class="edit_input">
                        <input type="text" value="<%= editItem.surname %>" name="surname" required>
                        <span class="error-text">Please enter a surname</span>
                    </div>
                </div>
               
                <div class="item">
                    <div class "edit_title">Phone</div>
                    <div class="edit_input">
                        <input type="text" value="<%= editItem.phone %>" name="phone" required>
                        <span class="error-text">Please enter a phone number</span>
                    </div>
                </div>
                <div class="item">
                    <div class="edit_title">Description</div>
                    <div class="edit_input">
                        <textarea name="description" rows="20" required><%= editItem.description %></textarea>
                    </div>
                </div>
                <div class="buttons">
                    <% if (editItem.id == "0") { %>
                        <button name="action" class="submit" type="submit" value="create">Create</button>
                    <% } else { %>
                        <button name="action" class="submit" type="submit" value="update">Update</button>
                        <button name="action" class="remove" type="submit" value="delete">Delete</button>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs") %>
<%- include("partials/scripts.ejs") %>
</body>
</html>
