<!doctype html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./css/admin_changelog.css">
    <title>The Best Mobile Bazaar - Admin Panel</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="admin admin_changelog">
        <div class="header">
            <%- include("partials/admin_header.ejs") %>
        </div>
        <div class="content">
            <div class="table">
                <div class="title title-bold">
                    <div class="user_id">User Name</div>
                    <div class="date">Date</div>
                    <div class="message">Message</div>
                </div>
                <div class="rows">
                    <% for (const item of allItems) { %>
                        <div class="row">
                            <div class="buttons">
                        
                            </div>
                            <div class="user_id"><%= item.username %></div>
                            <div class="date"><%= item.date %></div>
                            <div class="message"><%= item.message %></div>
                        </div>
                    <% } %>
                </div>
            </div>
                    
                </form>
            </div>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <%- include("partials/scripts.ejs") %>
</body>
</html>