<!doctype html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="./css/product_checkout.css">
    <title>The Best Mobile Bazaar - Product Checkout</title>
</head>
<body>
<%- include("partials/header.ejs") %>
<main class="product_checkout">
    <h1>Check Out</h1>
    <% if(status === 'created'){ %>
        <h1>Your order has been created! Order ID: <%= order.insertId %></h1>
    <% } else { %>
        <form action="/product_checkout" method="post">
            <div class="table">
                <div class="header">
                    <div class="img">Image</div>
                    <div class="product">Product</div>
                    <div class="price">Price</div>
                    <div class="quantity">Quantity</div>
                    <div class="total">Total</div>
                </div>
                <div class="content">
                    <div class="img">
                        <img src="./img/product-img-2.png" alt="mobile phone photo">
                    </div>
                    <div class="product"><%= product.name %></div>
                    <div class="price">$<%= product.price %></div>
                    <div class="quantity">
                        <input type="number" value="1" name="count" class="count-mobile"  min="1" max="<%= product.stock %>">
                        <input type="number" value="<%= product.price %>" hidden name="price" id="price">
                        <input type="number" value="<%= product.id %>" hidden name="product_id" >
                    </div>
                    <div class="total">
                        $<input type="number" value="<%= product.price %>" name="totalPrice" class="total" readonly>
                    </div>
                </div>
            </div>
            <div class="table-mobile">
                <div class="img">
                    <img src="./img/product-img-2.png" alt="mobile phone photo">
                </div>
                <div class="row">
                    <div class="row_title">Name:</div>
                    <div class="row_content"><%= product.name %></div>
                </div>
                <div class="row">
                    <div class="row_title">Price:</div>
                    <div class="row_content">$<%= product.price %></div>
                </div>
                <div class="row">
                    <div class="row_title">Stock:</div>
                    <div class="row_content">
                        <input type="number" value="1" name="count" class="count"  min="1" max="<%= product.stock %>">
                        <input type="number" value="<%= product.price %>" hidden name="price" class="price">
                    </div>
                </div>
                <div class="row">
                    <div class="row_title">Total:</div>
                    <div class="row_content">
                        $<input type="number" value="<%= product.price %>" name="totalPrice" min="1" class="total-mobile" readonly>
                    </div>
                </div>
            </div>
            <div class="address">
                <h2>Shipping address</h2>
                <div class="row">
                  <input type="text" id="country" name="country" placeholder="Country" required>
                </div>
                <div class="row item-2">
                  <input type="text" id="firstname" name="firstname" placeholder="First Name" required pattern="[a-zA-Z\-_' ]{2,}">
                  <input type="text" id="lastname" name="lastname" placeholder="Last Name" required pattern="[a-zA-Z\-_' ]{2,}">
                </div>
                <div class="row">
                  <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="row">
                  <input type="text" id="address1" name="address1" placeholder="Address Line 1" required>
                </div>
                <div class="row item-3">
                  <input type="text" id="city" name="city" placeholder="City" required>
                  <input type="text" id="state" name="state" placeholder="State" required>
                  <input type="text" id="postcode" name="postcode" placeholder="Post Code" required pattern="[0-9]{4,}">
                </div>
              </div>
            </div>
            <div class="buttons"> 
                <a class="back" href="/" id="back">Back</a>
                <button class="pay" type="submit">Pay</button>
            </div>
        </form>
    <% } %>
</main>
<%- include("partials/footer.ejs") %>

<script src="./js/product_checkout.js"></script>
<%- include("partials/scripts.ejs") %>
</body>
</html>
